{% for a in articles %}
<article class="article-item">
	{% if a.image != 'null' and a.image.url|length >= 1 %}
		<div class="image">
			<img src="{{ a.image.url }}" alt="">
		</div>
	{% endif %}

	<div class="data">
		<h2>{{a.title}}</h2>
		<p>
			{% for c in a.categories.all %}
				<a href="{% url 'category' c.id %}">{{c.name}}</a>

				{% if forloop.counter < a.categories.all|length %}
					{{'-'}}
				{% endif %}
			{% endfor %}
		</p>
		<span class="date">
			{{a.user.first_name}} {{a.user.last_name}}
			|
			{{a.created_at}}
		</span>
		<p>
			{{a.content|safe}}
		</p>
	</div>
</article>

{% endfor %}